body {
  background-color: lightblue;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.weather-app {
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px (rgba 65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 50px;
}

.search-form {
  font-size: large;
}

.search-form-button {
  font-size: 16px;
  font-weight: bold;
  background-color: blue;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: black;
}

header {
  border-bottom: aliceblue;
  padding: 0 0 30px 0;
}

main {
  padding: 30px 0;
}

.weather-app-data {
  display: flex;
  justify-content: space-between;
}

.weather-app-city {
  color: #e88e1a;
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-details {
  color: #1c5b80;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
}

.weather-app-details strong {
  color: #f76623;
}

weather-app-temperature-container {
  display: flex;
}

.weather-app-icon {
  width: 88px;
  height: 88px;
}

.weather-app-temperature {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.weather-app-unit {
  margin-top: 6px;
  font-size: 28px;
}

footer {
  border-top: 1px solid orangered;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: #fb6f9b;
}

a {
  color: #e46f36;
}
